<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @employee.rate %>
</p>

<p>
  <strong>Hoursaweek:</strong>
  <%= @employee.hoursaweek %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @employee.subtotal %>
</p>

<p>
  <strong>Fourpercent:</strong>
  <%= @employee.fourpercent %>
</p>

<p>
  <strong>Total:</strong>
  <%= @employee.total %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
